Environments

.PROJ_SEVS/
.venv/
env/
venv/
ENV/

Python artifacts

pycache/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

Data Files (Important for industrial projects)

*.csv
*.csv.gz
*.xlsx
!data/sample_data.csv # Use this if you want to keep a small sample in git

Streamlit

.streamlit/

Virtualenv

.env
.venv
env/
venv/
ENV/

VS Code / IDE

.vscode/
.idea/
*.swp

OS

.DS_Store
Thumbs.db